venv
*/__pycache__/
*/*/__pycache__/
*.sqlite3
.env
*/env
.idea
*/.idea
media
locale/*/*.mo
.idea/*
.idea/workspace.xml
.vscode
__pycache__
.local
mydatabase
.idea/*/*
*.mo
wget-3.2
/wget-3.2
/wget-3.2/*

